body {
    background-image: url(https://images.unsplash.com/photo-1463947628408-f8581a2f4aca?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
p{
    color: cornflowerblue;
    /*font-size: 32px;*/
    width: 30%;
    height: 50px;
    background-color: lightgray;
    display: inline-block;
}
h2, h3 {
    color: blueviolet;
}
sub, sup {
    font-size: 16px;
    color: red;
}
span {
    /*font-size: 40px;*/
    color: blue;
    width: 30%;
    height: 50px;
    background-color: lightgray;
    display: inline-block;
}
img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
