*{
    /*margin: 0;*/
}
body{
    background-color: lightgreen;
}
p{
    background-color: rgba(87, 133, 201, 0.52);
    margin: 20px;
    padding: 40px;
    /*opacity: 0.5;*/
    span{
        color: red;
        font-size: 30px;
    }
