@media screen and (max-width: 480px) {
    body {
        font-size: 12pt;
    }

    .wrapper {
        flex-direction: column;
        height: 55vh;
    }

    main, aside, section {
        width: 100%;
    }

    main {
        height: 40vh;
    }

    header, aside, section, footer {
        height: 15vh;
    }

    section {
        display: block;
        background-color: #a5c8d1;
    }

    header p::after {
        content: "mobile";
    }
}
