@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+IN+Guides&family=swap');

.playwrite-text {
    font-family: "Playwrite IN Guides", cursive;
    font-weight: 400;
}

.oswald-400 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-style: normal;
}
