body {
    background-color: #f8f9fa;
    color: #28292b;
    font-family: sans-serif;
    font-size: 20px;
    width: 50%;
    margin-left: 50px;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
}
img{
    display: inline;
    width: 270px;
    height: 350px;
    object-fit: cover;
}
h1, h2{
    color: #333435;
}
